### IntelliJ ###
.idea/
*.iml
out/
*.ipr
*.iws

### Maven ###
target/
*.class
*.jar
*.war
*.ear

### Logs ###
*.log
logs/
hs_err_pid*


### OS ###
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

### images made by app ###
*.png
*.jpg
*.jpeg

### temp / editor files ###
*.tmp
*.temp
*.swp
*.swo
*.bak
*~

### JSONs made by app ###
*.json

### maven shade plugin output ###
dependency-reduced-pom.xml